@using CestaFeira.Web.Models.Produto
@model IEnumerable<ProdutoModel>

@{
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Página Principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">CestaFeira</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown">Produtos</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Todos os Produtos</a></li>

                            @if (User.IsInRole("ADM") || User.IsInRole("PROD"))
                            {
                                <li><a class="dropdown-item" href="~/Produto/CadastrarProdutos">Cadastrar Produtos</a></li>
                                <li><a class="dropdown-item" href="~/Produto/GerenciarProdutos">Gerenciar Produtos</a></li>
                            }
                            <li><a class="dropdown-item" href="~/Usuario/Sair">Sair</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Produtos</h1>
                <p class="lead fw-normal text-white-50 mb-0">Lista dos meus produtos</p>
            </div>
        </div>
    </header>

    @if (Model != null && Model.Any())
    {
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach (var produto in Model)
                    {
                        var imagemBase64 = produto.imagem != null ? Convert.ToBase64String(produto.imagem) : null;
                        var imagemSrc = !string.IsNullOrEmpty(imagemBase64) ? $"data:image/png;base64,{imagemBase64}" : "caminho/padrao/para/imagem.png";

                        <div class="col mb-5">
                            <div class="card h-100">
                                <img class="card-img-top" src="@imagemSrc" alt="Imagem do Produto: @produto.Nome" />
                                <div class="card-body p-4">
                                    <div class="text-center ">
                                        <h5 class="fw-bolder">@produto.Nome</h5>
                                        Descrição: @produto.Descricao
                                        R$ @produto.valorUnitario.ToString("F2")
                                        Quantidade: @produto.Quantidade
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    else
    {
        <p class="text-center">Nenhum produto disponível.</p>
    }

   

    <footer class="py-5 bg-dark"></footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

   
</body>

</html>
